body {
  font-family: 'Courier New' monospace;
  color: #e0d9d0;
  background: #000;
  padding: 1em;
}

h1 {
  text-align: center;
  letter-spacing: 0.1em;
}

h2 {
  padding: 0.5em;
  padding-left: 1em;
  margin: 0.2em;
  border-bottom: 1px dashed #e0d9d0;
}

h3 {
  padding: 0.2em;
  padding-left: 3em;
  margin: 0.2em;
}


a {
  color: #fa6;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #fe6;
}

blockquote {
  padding: 0.5em;
  border-left: solid 3px #e0d9d0;
  border-top: dashed 1px #e0d9d0;
}

label {
  text-align: right;
  width: 12%;
  float: left;
}

.recaptcha {
  margin-left: 12%;
}

address {
  color: #999;
  font-size: smaller;
  font-style: normal;
  word-spacing: -0.1em;
  text-align: right;
  padding: 0.5em;
}

table#maintab td {
  padding: 0px 0px 0px 20px;
}

td {
  vertical-align: top;
}

.dead {
  color: #e55;
}

.alive {
  color: #5e5;
}

.assassin {
  font-weight: bold;
  letter-spacing: 1px;
}

.message {
  background: #030;
  border: solid 1px #0a0;
  padding: 0.5em;
  margin-top: 0.5em;
}

.error {
  background: #300;
  border: solid 1px #a00;
  padding: 0.5em;
  margin-top: 0.5em;
}

.content {
  padding: 0.5em;
  background: #1a1610;
  border: solid 1px #e0d9d0;
}

.right {
  float: right;
}

ul {
  list-style-image:url("./dash.png");
}

ul ol {
  list-style-image:none;
}

td.rulesbox {
  width: 400px;
  vertical-align: top;
}

fieldset {
  margin-top: 1em;
}

.hidden {
  font-style: italic;
}

a.sub {
  color: #55F;
  text-decoration: underline;
  font-weight: normal;
}

a.sub:hover {
  text-decoration: none;
}

#poll-box {
  padding: 0.5em;
  width: 340px;
}

#progress-bar {
  width: 330px; /* Should be less than width of #poll-box */
  height: 15px;
  margin: 0px;
  background-color: #AAA;
  border: 1px solid #999;
  margin-bottom: 5px;
}

#progress-level {
  background-color: #777;
  border: 1px solid;
  border-bottom: 1px solid #555;
  border-right: 1px solid #555;
  height: 13px; /* Should be the height of #progress-bar minus 2 */
}

li div {
  display: inline-block;
}
